https://learn.alphacast.io/
https://alphacast-python-sdk.readthedocs.io/en/latest/reference.html#uploading-data

In [ ]:
pip install alphacast

In [8]:
## Alphacast 
from alphacast import Alphacast

API = 'ak_ZcvH7CLz356nl0aF5DMv'

alphacast = Alphacast(API)

alphacast.repository.read_all()

[{'id': 16347,
  'name': 'Home',
  'accountId': 8755,
  'description': '',
  'privacy': 'Private',
  'slug': 'home-16347',
  'permission': 'Owner'},
 {'id': 16348,
  'name': "MIbarra83's Public Repo",
  'accountId': 8755,
  'description': 'You can use you first public repository to share content with the community',
  'privacy': 'Public',
  'slug': 'mibarra83-s-public-repo-16348',
  'permission': 'Owner'}]

In [4]:
## Leer: Crear datasets / Subir Data

dataset_name = "Test_IPC"  # Nombre del dataset
repo_id = 16347  # ID del repositorio donde se creará el dataset
repo_privacy='Public'
description = "Este es un dataset de ejemplo para demostrar cómo subir datos a Alphacast."
file_path = "Output_IPC.csv"  # Ruta al archivo CSV

# Crear Dataset
alphacast.datasets.create(dataset_name, repo_id, description)

{'id': 43905,
 'name': 'Test_IPC',
 'createdAt': '2025-01-15T11:19:05.429636',
 'repositoryId': 16347}

    {'id': 43905,
     'name': 'Test_IPC',
     'createdAt': '2025-01-15T11:19:05.429636',
     'repositoryId': 16347}

In [7]:
# Leer repositorio 

alphacast.repository.read_by_id(16347)

{'id': 16347,
 'name': 'Home',
 'accountId': 8755,
 'description': '',
 'privacy': 'Private',
 'slug': 'home-16347',
 'permission': 'Owner'}

In [11]:
alphacast.datasets.read_all()

[{'id': 43905,
  'name': 'Test_IPC',
  'createdAt': '2025-01-15T11:19:05',
  'updatedAt': '2025-01-15T11:19:05',
  'repositoryId': 16347,
  'permission': 'Owner'},
 {'id': 43906,
  'name': 'desafio_tecnico',
  'createdAt': '2025-01-15T12:06:10',
  'updatedAt': '2025-01-15T12:06:10',
  'repositoryId': 16347,
  'permission': 'Owner'}]

In [10]:
# Crear dataset
dataset_name = 'desafio_tecnico'
repo_id = 16347
description = 'Indice IPC Indec 2017-2024)'

alphacast.datasets.create(dataset_name, repo_id, description)

{'id': 43906,
 'name': 'desafio_tecnico',
 'createdAt': '2025-01-15T12:06:10.043858',
 'repositoryId': 16347}

In [13]:
import pandas as pd

# 1. Cargar el archivo CSV en un DataFrame
file_path = "output_IPC.csv"  # Ruta al archivo CSV
df = pd.read_csv(file_path)

   Unnamed: 0        Date Region                    Product   Unit  Price
0           0  2017-06-01    GBA                Pan francés     kg  38.64
1           1  2017-06-01    GBA      Harina de trigo común     kg  10.67
2           2  2017-06-01    GBA        Arroz blanco simple     kg  20.96
3           3  2017-06-01    GBA  Fideos secos tipo guisero  500 g  19.08
4           4  2017-06-01    GBA         Carne picada común     kg   72.2

In [16]:
# Renombrar la columna 'Unnamed: 0' a 'id'
df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)

# Reordenar id
df = df[['Date', 'Region', 'Product', 'Unit', 'Price', 'id']]

In [17]:
df.head(5)

         Date Region                    Product   Unit  Price  id
0  2017-06-01    GBA                Pan francés     kg  38.64   0
1  2017-06-01    GBA      Harina de trigo común     kg  10.67   1
2  2017-06-01    GBA        Arroz blanco simple     kg  20.96   2
3  2017-06-01    GBA  Fideos secos tipo guisero  500 g  19.08   3
4  2017-06-01    GBA         Carne picada común     kg   72.2   4

In [19]:
dataset_id = 43906


alphacast.datasets.dataset(dataset_id).initialize_columns(dateColumnName="Date", entitiesColumnNames=["id"], dateFormat="%Y-%m-%d")

b'{"id": 43906, "columnDefinitions": [{"sourceName": "Date", "dataType": "Date", "dateFormat": "%Y-%m-%d", "isEntity": "True"}, {"sourceName": "id", "isEntity": "True"}], "updateAt": "2025-01-15T12:19:11.163962"}'

In [20]:
alphacast.datasets.dataset(43906).upload_data_from_df(df, deleteMissingFromDB = False, onConflictUpdateDB = False, uploadIndex=False)

b'{"id": 5168310, "status": "Requested", "createdAt": "2025-01-15T12:20:20.711328", "datasetId": 43906}'

## Check Status del proceso

In [21]:
alphacast.datasets.dataset(43906).processes()

b'[{"id": 5168310, "datasetId": 43906, "status": "Processed", "statusDescription": "7560 values added to database./n", "deleteMissingFromDB": 0, "onConflictUpdateDB": 0, "createdAt": "2025-01-15T12:20:20", "processedAt": "2025-01-15T12:20:23"}]'